/*Me*/

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    align-self: center;
}

h2 {
    font-size: 1rem;
    margin-top: 10px;
}

/*Header*/

h1 {
    margin-left: 20px;
}