/*Link*/

.hans {
    color: var(--orange);
}

/*Me*/

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    align-self: center;
}

h2 {
    font-size: 1rem;
    margin-top: 10px;
}

/*Header*/

h1 {
    margin-left: 20px;
}

/* above ipad */

@media only screen and (min-width: 770px) {
    main {
        display: flex;
        justify-content: space-evenly;
    }

    .me {
        order: 1;
        align-self: center;
        margin-left: 20px;
    }

    .text {
        order: 2;
        max-width: 700px;
    }
}