/* card*/

html {
    --height: 1.4rem;
    line-height: var(--height);
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    background-color: var(--lightorange);
    margin: 30px auto;
    padding: 10px;
    border-radius: 0px 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show-more {
    width: fit-content;
    align-self: center;
}

.card p {
    max-height: calc(var(--height) * 6);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0px;
}

.continue {
    color: var(--orange);
    font-weight: 700;
    /* margin-top: -30px; */
}