/* Heading */

/* h2 {
    margin-top: 30px;
    margin-left: 20px;
} */

/* card*/

html {
    --height: 1.4rem;
    line-height: var(--height);
}


.card {
    background-color: var(--lightorange);
    margin: 30px auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 0px 20px;
}

.show-more {
    width: fit-content;
    align-self: center;
}

.card p {
    max-height: calc(var(--height) * 6);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0px;
}

.continue {
    color: var(--orange);
    font-weight: 700;
}

/* above ipad */

@media only screen and (min-width: 770px) { 

    .posts {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        max-width: 300px;
        margin: 20px;
        height: 280px;
    }

    h2 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 2rem;
    }

    .show-more {
        margin: 30px 20px;
    }
}