/* Carousel image*/

.carousel-image {
    width: 375px;
    height: 250px;
    background-size: cover;
    background-position: center;
    flex: 1;
}

.carousel-section {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.selected {
    flex: 4;
}

.something {
    color: red;
}


/* text */

.header {
    display: none;
}

.header1 {
    display: block;
}

.text {
    display: none;
}

.text1 {
    display: block;
}