/* whole page */

main {
    display: flex;
    flex-direction: column;
}

/* Carousel image*/

.carousel-image {
    /* width: 375px;
    height: 250px; */
    width: 488px;
    height: 325px;
    background-size: cover;
    background-position: center;
    flex: 1;
    opacity: 30%;
    cursor: pointer;
    /* filter: blur(0.5px); */
}

.carousel-section {
    /* margin-top: 40px; */
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.selected {
    flex: 6;
    opacity: 100%;
    /* filter: blur(0px); */
}

.something {
    color: red;
}

.carousel-circle {
    display: flex;
    flex-direction: column;
}



/* text */

h2 {
    margin: 50px 20px 20px 20px;
}

.latest-news {
    margin: 60px 20px 0px 20px;
    font-size: 2rem;
}

.header {
    display: none;
}

.header1 {
    display: block;
}

.text {
    display: none;
    /* height: 0;
    opacity: 0; */
}

.text1 {
    display: block;
}

.text-section {
    display: flex;
    flex-direction: column;
}

/* .text-transition {
    height: fit-content;
    opacity: 100%;
    transition-duration: 2s;
} */


/* Circle and arrow indicator */

.circle {
    /* height: 20px;
    width: 20px; */
    color: var(--orange);
}

.circle1 {
    display: none;
}

.circle2-2, .circle3-3, .circle4-4 {
    display: none;
}

.circle-indicator {
    align-self: center;
}

.arrow {
    color: var(--orange);
    padding-left: 10px;
    padding-right: 10px;

}

.arrows {
    align-self: center;

}

/* .fa-chevron-left {
    height: 50px;
    width: 50px;    
} */

.carousel-circle .arrows .arrow .fa-chevron-left{
    height: 50px;
}

/* buttons */ 

.read-more {
    align-self: center;
    margin-top: 40px;
}

.readMoreButton {
    align-self: center;
}

.read-more a {
    color: var(--bacground);
}

.readMoreButton {
    display: none;
}

.button1 {
    display: block;
}

/* ipad to desktop */
@media only screen and (min-width: 770px) {
    main {
        max-width: 800px;
        align-content: center;
        margin: 0 auto;
    }

    .home {
        color: var(--bacground);
    }

    .blog {
        color: var(--black);
    }
}

/* desktop */

@media only screen and (min-width: 1200px) {
    /* .desktop-grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: max-content;
        grid-template-areas: 
                        'carousel header'
                        'carousel paragraph';
    }

    .header {
        grid-area: header;
    }

    .carousel-circle {
        grid-area: carousel;
    }

    .text {
        grid-area: paragraph;
    } */

    main {
        max-width: none;
        /* align-content: center;
        margin: 0 auto; */
    }

    .carousel-image {
        width: 675px;
        height: 450px;
    }

    .carousel-section {
        max-width: 800px;
    }

    /* main {
        max-width: 800px;
        align-content: center;
        margin: 0 auto;
    } */

    .desktop-flex {
        display: flex;
    }

    /* .carousel-text {
        display: flex;
        flex-direction: column;
    } */


    .selected {
        flex: 10;
        /* filter: blur(0px); */
    }

}