/* Image*/

.post-image {
    height: 250px;
    /* width: 375px; */
    background-size: cover;
    background-position: bottom;
    cursor: pointer;
}



/* header */

/* h2 {
    margin-top: 30px;
    margin-left: 20px;
} */

/*Links*/

a {
    color: var(--orange);
}

/* focused image */

.background {
    background-color: rgba(6,12,10, 1);
    /* filter: blur(2px); */
}

.highlight-image {
    filter: blur(0px);
}

/* above ipad */

@media only screen and (min-width: 770px) {

    main {
        max-width: 800px;
        margin: auto;
    }

    .post-image {
        margin-left: 20px;
        margin-right: 20px;
        height: 533px;
    }

    h2 {
        margin-left: 20px;
    }

    .enlarged-image {
        height: 625px;
        width: 987.5px;
        align-self: center;
    }

}

